
<div class="jumbotron">
  <div class="clock">
    
  <p class="lead">
    Your alarm is set for {{ alarm }}
  </p>
    {{ clock.now }}</br>
        <p>Wake me up at 
          <div class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="hours" class="form-control">:
              <input type="text" ng-model="minutes" class="form-control">
              <select ng-model="daytime">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
        </p>
  </div>
</div>

<div class="well">
  <h3>To Do</h3>
  <div  ui-sortable ng-model="todos">
    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>

  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>
</div>

<div class="well" data-ng-init="init()">
  <h3>Pick a song for your alarm</h3>
  <form role="form" ng-submit="search()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="trackSearch" placeholder="Search by Title" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Search">
        </span>
      </div>
    </div>
  </form>
</br>
  <button type="button" class="btn btn-success" ng-click="startSong(stream_url)"><span class="glyphicon glyphicon-play"></span></button>
  <button type="button" class="btn btn-danger" ng-click="stopSong(sound)"><span class="glyphicon glyphicon-stop"></span></button>
  {{ nowPlaying }}
  <ul>
    <li data-ng-repeat="track in tracks"><a ng-click="chooseTrack(track)">{{track.title}}</a></li>
  </ul>
  </br>
</div>

<div class="well">
  <h3>Weather and News</h3>
  <button class="btn btn-primary" ng-click="getLocation()">Set Current Location</button>
    <p>{{ city }}</p>
</div>